@import '../../index.css';

.notification {
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification.success {
    background-color: var(--success-bg-color); /* Başarı mesajı arka plan rengi değişkeni */
    color: var(--text-color-white);
}

.notification.error {
    background-color: var(--error-bg-color); /* Hata mesajı arka plan rengi değişkeni */
    color: var(--text-color-white);
}

.notification button {
    background: none;
    border: none;
    color: var(--text-color-white);
    cursor: pointer;
}