@import '../../index.css';

.notification {
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px var(--shadow-color);
    border: 1px solid var(--border-color);
    background-color: var(--card-bg-color);
    color: var(--text-color);
}

.notification.success {
    background-color: var(--primary-color);
    background-image: var(--primary-gradient);
    color: #FFFFFF;
}

.notification.error {
    background-color: #E74C3C;
    color: #FFFFFF;
}

.notification button {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.notification button:hover {
    color: #FFEBEE;
}
