@import '../../index.css';

.publisher-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--shadow-color);
    background-color: var(--card-bg-color);
}

h2 {
    text-align: center;
    color: var(--text-color);
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-input:focus,
.form-textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #2980B9;
}

.publisher-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

.publisher-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: background-color 0.3s, transform 0.3s;
}

.publisher-item:hover {
    background-color: var(--primary-gradient);
    color: white;
    transform: translateY(-2px);
}