@import '../../index.css';

.book-detail {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: var(--card-bg-color);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.book-detail:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

/* Başlık */
.book-detail h2 {
    color: var(--main-text-color);
    margin-bottom: 15px;
    font-size: 24px;
}

/* Diğer bilgiler */
.book-detail p {
    color: var(--secondary-text-color);
    font-size: 16px;
    margin: 10px 0;
    font-weight: 500;
}

/* Bilgi başlıkları */
.book-detail p strong {
    color: var(--main-text-color);
    font-weight: 700;
}

/* Kategori başlığı */
.book-detail h6 {
    margin-top: 20px;
    color: var(--main-text-color);
}

/* Kategoriler */
.book-detail ul {
    padding: 0;
    list-style-type: none;
}

/* Kategori isimleri */
.book-detail li {
    font-size: 16px; 
    color: var(--secondary-text-color);
    margin: 6px 0;
}

/* Butonlar */
.button-group {
    display: flex;
    justify-content: space-between;
}

.book-detail button {
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    margin: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.book-detail button:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

/* Hata ve yükleniyor mesajları */
.error-message, .loading-message {
    color: var(--error-color);
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
